@import "tailwindcss";
@tailwind utilities;

.font-josefin{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.dark-bg{
    @apply bg-gray-900; 
}
.dark-card{
    @apply bg-[#25273C] text-white;
}
.dark-border{
    @apply border-transparent shadow-[1px_-1px_68px_-8px_rgba(128,0,128,0.7)];
}
.light-border{
    @apply shadow-[0_0_25px_rgba(128,128,128,0.5)];
}
.dark-img{
    @apply bg-[url('src/assets/images/bg-mobile-dark.jpg')] sm:bg-[url('src/assets/images/bg-desktop-dark.jpg')];
}
.light-img{
    @apply bg-[url('src/assets/images/bg-mobile-light.jpg')] sm:bg-[url('src/assets/images/bg-desktop-light.jpg')];
}
.bg-section{
    @apply font-bold text-white flex flex-col; 
}
.bg-img{
    @apply bg-top bg-no-repeat w-[375px] sm:w-auto lg:w-[1400px] rounded-2xl p-4;
}
.checked-state{
    @apply checked:bg-gradient-to-br checked:from-[#57ddff] checked:to-[#c058f3] checked:border-0 checked:before:content-[url(src/assets/images/icon-check.svg)] checked:before:flex checked:before:justify-center;
}
.hover-effect:hover{
    @apply border-purple-400;
}
