@import "tailwindcss";
@tailwind utilities;

@theme {
    --bright-blue: hsl(220, 98%, 61%);
    --check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
}
.font-josefin{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.dark-bg{
    @apply bg-gray-900; 
}
.dark-card{
    @apply bg-gray-700 text-white;
}
.bg-section{
    @apply font-bold text-white flex flex-col; 
}
.bg-img{
    @apply bg-[url('src/assets/images/bg-mobile-light.jpg')] sm:bg-[url('src/assets/images/bg-desktop-light.jpg')]  bg-top bg-no-repeat w-[375px] sm:w-auto
}
.checked-state{
    @apply checked:bg-gradient-to-br checked:from-[#57ddff] checked:to-[#c058f3] checked:border-0 checked:before:content-[url(src/assets/images/icon-check.svg)] checked:before:flex checked:before:justify-center
}
